@{
    ViewData["Title"] = "Home Page";
}
@using DojoSurveyWithModel.Models
@model Student

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<p>This is our home page rout</p>
<div>
<form action="/result" method="POST">
    <p>
        <lable>Your Full Name:</lable>
        <input type="text" name="FullName">
    </p><br>
    <p>
        <lable>Dojo Locution: </lable>
        <input type="text" name="DojoLocation">
    </p><br>
    <p>
        <lable>Favorite Language: </lable>
        <input type="text" name="FavoriteLanguage">
    </p><br>
    <lable>Comment(optional): </lable>
    <input type="text" name="Comment"></p><br>
    <button>Submit</button>
</form>
</div>