@using ViewModelFun.Models
@model List<Users>//list<users> same as a Model (model=Model)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Here are some Users!</h1>
    @{
        foreach(var i in Model)
        {
    <p>@i.FirstName @i.LastName</p>
        }
    }
</body>
</html>