@{
    ViewData["Title"] = "Home Page";
}
@* @model  List<Dish> *@
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1>Welcome to CRUDelicious</h1>
    <h2>Check out some recent dishes!      <a href="new">Add a Dish</a> </h2>
<div>
    @foreach(Dish dish in Model)
    {
    <a asp-controller="Dish" asp-action="Ditails" asp-dishId="dish.DishId">@dish.Name</a>  <p>by @dish.Chef</p> 
    }</div>
</div>
